.product-card {
  width: 23rem;
  height: 30rem;
  border: 2px solid black;
  border-radius: 2rem;
}

.product-card:hover {
  box-shadow: 0 4px;
}

.product-card-image {
  height: 60%;
  width: 100%;
  border-top-right-radius: 1.9rem;
  border-top-left-radius: 1.9rem;
}

.product-card-body {
  padding: 1rem;
}

.product-card-title {
  margin-top: 0.5rem;
  height: 2rem;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.product-card-tag {
  height: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.product-card-price {
  font-size: 2rem;
}

.product-card-buttons-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
