.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 2rem auto;
  gap: 3rem;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.home-tag {
  box-shadow: 0 4px black;
  cursor: pointer;
}

.home-tag:active {
  box-shadow: 0 1px;
  transform: translateY(3px);
}
