.tag {
  max-width: 9rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 0.7rem;
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
  text-align: center;
  background-color: #8e4162;
  color: #fffdf7;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-Clothes {
  background-color: #cc6155;
}

.tag-Electronics {
  background-color: rgb(36, 165, 165);
}

.tag-Furniture {
  background-color: #3d3b8e;
}

.tag-Shoes {
  background-color: #8e4162;
}

.tag-Miscellaneous {
  background-color: #748067;
}
