* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fffdf7;
  min-width: 430px;
}

.saved {
  background-color: #d93c5b;
}

.cart {
  background-color: #d1b2e0;
}

.view {
  background-color: #e9e3ec;
}
